<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433971752222-ccn7hlgoqiup7lk8baeusoshrj65m5em.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433971752222-ccn7hlgoqiup7lk8baeusoshrj65m5em</string>
	<key>API_KEY</key>
	<string>AIzaSyCGAu2qM1cShd2JBAOPXfiu4Br_D3jXDIg</string>
	<key>GCM_SENDER_ID</key>
	<string>433971752222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JWCTwenyTwenty.CanYouCount</string>
	<key>PROJECT_ID</key>
	<string>canyoucount2020-1234</string>
	<key>STORAGE_BUCKET</key>
	<string>canyoucount2020-1234.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433971752222:ios:22c4c311ab464802de6d0f</string>
	<key>DATABASE_URL</key>
	<string>https://canyoucount2020-1234.firebaseio.com</string>
</dict>
</plist>